<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="mobile-web-app-capable" content="yes">
</head>

<body>
    {{{body}}}
</body>

</html>